<div class="dashboard-container" [class.is-mobile]="isMobile">
  <mat-toolbar [hidden]="!isMobile" color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="isMobile ? 59 : 0"
    autosize
  >
    <mat-sidenav
      #snav
      [opened]="true"
      [mode]="isMobile ? 'over' : 'side'"
      [fixedInViewport]="isMobile"
      fixedTopGap="59"
    >
      <app-sidebar-nav
        (toggleSideNav)="snav.toggle()"
        [isMobile]="isMobile"
      ></app-sidebar-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
